<div id="<%= dom_id perros_en_adopcion %>">
  <p>
    <strong>Nombre:</strong>
    <%= perros_en_adopcion.nombre %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= perros_en_adopcion.foto %>
  </p>

  <p>
    <strong>Fecha de publicacion:</strong>
    <%= perros_en_adopcion.fecha_de_publicacion %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= perros_en_adopcion.status %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= perros_en_adopcion.raza %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= perros_en_adopcion.sexo %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= perros_en_adopcion.edad %>
  </p>

  <p>
    <strong>Tamano:</strong>
    <%= perros_en_adopcion.tamano %>
  </p>

</div>
