<div id="<%= dom_id desparasitacion %>">
  <p>
    <strong>Historia c:</strong>
    <%= desparasitacion.historia_c_id %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= desparasitacion.dia %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= desparasitacion.mes %>
  </p>

  <p>
    <strong>Anio:</strong>
    <%= desparasitacion.anio %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= desparasitacion.producto %>
  </p>

  <p>
    <strong>Lote:</strong>
    <%= desparasitacion.lote %>
  </p>

  <p>
    <strong>Dosis:</strong>
    <%= desparasitacion.dosis %>
  </p>

  <p>
    <strong>Detalle:</strong>
    <%= desparasitacion.detalle %>
  </p>

</div>
