<div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h1>Solicitud de Turnos</h1>

        <% if !(@solicitud_turnos.empty?) %>
        <div id="solicitud_turnos">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Tipo de Turno</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% @solicitud_turnos.each do |solicitud_turno| %>
                <tr>
                  <td><%= solicitud_turno.dia.strftime('%d/%m/%y') %></td>
                  <td><%= solicitud_turno.horario.strftime('%H:%Mhs') %></td>
                  <td><%= solicitud_turno.tipo_turno %></td>
                  <td>
                    <%= link_to "Ver solicitud", solicitud_turno, class: "btn btn-primary" %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <p>No hay solicitudes de turnos pendientes</p>
      <% end %>
      <%= link_to "Solicitar Turno", new_solicitud_turno_path, class: "btn btn-success mb-3" %>
      </div>


      <div class="col-md-6">
        <h1>Turnos</h1>

        <% if !(@turnos.empty?) %>
        <div id="turnos">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Tipo de Turno</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% @turnos.each do |turno| %>
                <tr>
                  <td><%= turno.dia.strftime('%d/%m/%y') %></td>
                  <td><%= turno.horario.strftime('%H:%Mhs') %></td>
                  <td><%= turno.tipo_turno %></td>
                  <td>
                    <%= link_to "Ver turno", turno, class: "btn btn-primary" %>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <% else %>
          <p>No hay turnos confirmados</p>
        <% end %>
      </div>
      
    </div>
  </div>