<div id="<%= dom_id vacuna_r %>">
  <p>
    <strong>Historia c:</strong>
    <%= vacuna_r.historia_c_id %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= vacuna_r.dia %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= vacuna_r.mes %>
  </p>

  <p>
    <strong>Anio:</strong>
    <%= vacuna_r.anio %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= vacuna_r.tipo %>
  </p>

  <p>
    <strong>Lote:</strong>
    <%= vacuna_r.lote %>
  </p>

  <p>
    <strong>Dosis:</strong>
    <%= vacuna_r.dosis %>
  </p>

  <p>
    <strong>Detalle:</strong>
    <%= vacuna_r.detalle %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= vacuna_r.marca %>
  </p>

</div>
