<p style="color: green"><%= notice %></p>

<%= render @vacuna_r %>

<div>
  <%= link_to "Edit this vacuna r", edit_vacuna_r_path(@vacuna_r) %> |
  <%= link_to "Back to vacuna rs", vacuna_rs_path %>

  <%= button_to "Destroy this vacuna r", @vacuna_r, method: :delete %>
</div>
