<%= form_with(model: perros_encontrado) do |form| %>

  <%= form.hidden_field :status, value: "Se busca al dueño" %>
  <%= form.hidden_field :fecha_de_publicacion, value: Date.current %>

  <div class='row g-3 needs-validation', style='width: 590px; margin: 5px; border: 1px solid #000; border-radius: 5px;'>
    <div class="col-md-6">
      <%= form.label :'nombre del perro (Opcional)', style: "display: block;" %>
      <div class="input-group has-validation">
        <%= form.text_field :nombre, class: 'form-control' + (perros_encontrado.errors[:nombre].any? ? ' is-invalid' : ''), id: 'validationName' %>
        <div id="validationFotoFeedback" class="invalid-feedback" style="<%= perros_encontrado.errors[:nombre].any? ? 'display: block; margin: 2px;' : 'display: none;' %>">
          <%= perros_encontrado.errors.messages_for(:nombre).join(', ') %>
        </div>
      </div>
    </div>
 
    <div class="col-md-6">
      <%= form.label :descripcion, style: "display: block;" %>
      <div class="input-group has-validation">
        <%= form.text_field :descripcion, class: 'form-control', required: true, id: 'validationLastname' %>
        <div id="validationLastnameFeedback" class="invalid-feedback">
          <%= perros_encontrado.errors.full_messages_for(:descripcion).join(', ') %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <%= form.label :raza, style: "display: block;" %>
        <div class="input-group has-validation">
          <%= form.text_field :raza, class: 'form-control', required: true, id: 'validationLastname' %>
        <div id="validationLastnameFeedback" class="invalid-feedback">
          <%= perros_encontrado.errors.full_messages_for(:descripcion).join(', ') %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <%= form.label :edad_aproximada, style: "display: block;" %>
        <div class="input-group has-validation">
          <%= form.text_field :edad_aproximada, class: 'form-control', required: true, id: 'validationLastname' %>
        <div id="validationLastnameFeedback" class="invalid-feedback">
          <%= perros_encontrado.errors.full_messages_for(:edad_aproximada).join(', ') %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <%= form.label :lugar_zona_donde_se_encontro, style: "display: block;" %>
        <div class="input-group has-validation">
          <%= form.text_field :lugar_zona_donde_se_encontro, class: 'form-control', required: true, id: 'validationLastname' %>
        <div id="validationLastnameFeedback" class="invalid-feedback">
          <%= perros_encontrado.errors.full_messages_for(:lugar_zona_donde_se_encontro).join(', ') %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <%= form.label :tamaño, style: "display: block;" %>
      <div class="input-group has-validation">
        <%= form.select :tamano, options_for_select(['Pequeño', 'Mediano', 'Grande'], perros_encontrado.tamano), { prompt: 'Seleccione...' }, class: 'form-select', id: 'validationServer04', required: true, 'aria-describedby': 'validationServer04Feedback' %>
        <% if perros_encontrado.errors[:rol].any? %>
          <div id="validationRolFeedback" class="invalid-feedback">
            <%= perros_encontrado.errors.full_messages_for(:tamano).join(', ') %>
          </div>
        <% end %>
      </div>
    </div>
 
    <div class="col-md-12">
      <%= form.label :foto, style: "display: block;" %>
      <div class="input-group has-validation">
   
        <%= form.file_field :foto, class: 'form-control' + (perros_encontrado.errors[:foto].any? ? ' is-invalid' : ''),  required: (request.path == '/se-busca/new'), id: 'validationFoto', accept: 'image/*' %>
        <div id="validationFotoFeedback" class="invalid-feedback" style="<%= perros_encontrado.errors[:foto].any? ? 'display: block; margin: 2px;' : 'display: none;' %>">
          <%= perros_encontrado.errors.messages_for(:foto).join(', ') %>
        </div>
      </div>
      <img id="preview" src="#" style="display: none; margin:2px; max-width: 200px; max-height: 200px;" />
    </div>

    <div>
      <% if user_signed_in? %>
        <%= form.hidden_field :mail, value: current_user.email %>
        <%= form.hidden_field :nombre_dueno, value: current_user.nombre %>
        <%= form.hidden_field :apellido_dueno, value: current_user.apellido %>
        <%= form.hidden_field :direccion_dueno, value: current_user.direccion %>
        <%= form.hidden_field :numero_dueno, value: current_user.nro %>
      <% else %>
        <div class="col-md-6">
          <%= form.label :nombre, style: "display: block;" %>
          <div class="input-group has-validation">
            <%= form.text_field :nombre_dueno, class: 'form-control' + (perros_encontrado.errors[:nombre_dueno].any? ? ' is-invalid' : ''), id: 'validationName' %>
            <div id="validationFotoFeedback" class="invalid-feedback" style="<%= perros_encontrado.errors[:nombre_dueno].any? ? 'display: block; margin: 2px;' : 'display: none;' %>">
              <%= perros_encontrado.errors.messages_for(:nombre_dueno).join(', ') %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <%= form.label :apellido, style: "display: block;" %>
          <div class="input-group has-validation">
            <%= form.text_field :apellido_dueno, class: 'form-control' + (perros_encontrado.errors[:apellido_dueno].any? ? ' is-invalid' : ''), id: 'validationName' %>
            <div id="validationFotoFeedback" class="invalid-feedback" style="<%= perros_encontrado.errors[:apellido_dueno].any? ? 'display: block; margin: 2px;' : 'display: none;' %>">
              <%= perros_encontrado.errors.messages_for(:apellido_dueno).join(', ') %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <%= form.label :direccion, style: "display: block;" %>
          <div class="input-group has-validation">
            <%= form.text_field :direccion_dueno, class: 'form-control' + (perros_encontrado.errors[:direccion_dueno].any? ? ' is-invalid' : ''), id: 'validationName' %>
            <div id="validationFotoFeedback" class="invalid-feedback" style="<%= perros_encontrado.errors[:direccion_dueno].any? ? 'display: block; margin: 2px;' : 'display: none;' %>">
              <%= perros_encontrado.errors.messages_for(:direccion_dueno).join(', ') %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <%= form.label :numero, style: "display: block;" %>
          <div class="input-group has-validation">
            <%= form.text_field :numero_dueno, class: 'form-control' + (perros_encontrado.errors[:numero_dueno].any? ? ' is-invalid' : ''), id: 'validationName' %>
            <div id="validationFotoFeedback" class="invalid-feedback" style="<%= perros_encontrado.errors[:numero_dueno].any? ? 'display: block; margin: 2px;' : 'display: none;' %>">
              <%= perros_encontrado.errors.messages_for(:numero_dueno).join(', ') %>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <%= form.label :mail, style: "display: block;" %>
          <div class="input-group has-validation">
            <%= form.text_field :mail, class: 'form-control' + (perros_encontrado.errors[:mail].any? ? ' is-invalid' : ''), id: 'validationName' %>
            <div id="validationFotoFeedback" class="invalid-feedback" style="<%= perros_encontrado.errors[:mail].any? ? 'display: block; margin: 2px;' : 'display: none;' %>">
              <%= perros_encontrado.errors.messages_for(:mail).join(', ') %>
            </div>
          </div>
        </div>
        
      <% end %>
    </div>


    <div>
      <% if request.path == '/perros_encontrados/new' %>
        <button type="button" class="btn btn-success" style='margin-block: 10px;' data-bs-toggle="modal" data-bs-target="<%= (user_signed_in?) ? "#ModalPublicar-#{perros_encontrado.id}" : "#ModalPublicarNoRegistrado-#{perros_encontrado.id}" %>" >
          Publicar
        </button>


        <!-- Modal Publicar-->
        <div class="modal fade" id="ModalPublicar-<%= perros_encontrado.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar publicacion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <div class="modal-body">
                  Confirma la publicacion de este perro que encontro ?
                </div>
              <div class="modal-footer">
                <%= form.submit 'Confirmar',  class: "btn btn-turqueza", style:'margin: 2px' %>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal Publicar-->
        <div class="modal fade" id="ModalPublicarNoRegistrado-<%= perros_encontrado.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar publicación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <div class="modal-body">
                  <p>Debido a que esta creando una publicación sin estar registrado, 
                  el sistema le enviara un correo electronico a la dirección ingresada en esta publicación, el cual contendra 
                  un identificador unico o "token" que le permitira editar o eliminar la publicacion y marcar como dueño encontrado al perro.</p>
                  Confirma la publicacion de este perro que encontro ?
                </div>
              <div class="modal-footer">
                <%= form.submit 'Confirmar',  class: "btn btn-turqueza", style:'margin: 2px' %>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
              </div>
            </div>
          </div>
        </div>


      <% else %>

        <% if !user_signed_in? && request.path != '/perros_encontrados/new' %>
          <div class="mb-3">
            <%= form.label :Estado, class: 'form-label' %>
            <%= form.select :status, options_for_select(['Se busca al dueño', 'Dueño encontrado'], @perros_encontrado.status), class: 'form-select' %>
          </div>
        <% end %>

        <button type="button" class="btn btn-success" style='margin-block: 10px;' data-bs-toggle="modal" data-bs-target="#ModalEditar-<%= perros_encontrado.id %>">
          Guardar cambios
        </button>


        <!-- Modal Editar-->
        <div class="modal fade" id="ModalEditar-<%= perros_encontrado.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar edicion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <div class="modal-body">
                  Desea guardar los cambios efectuados a este perro que encontro ?
                </div>
              <div class="modal-footer">
                <%= form.submit 'Confirmar',  class: "btn btn-turqueza", style:'margin: 2px' %>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
              </div>
            </div>
          </div>
        </div>

        <% if !user_signed_in? && request.path != '/perros_encontrados/new' %>
          <button type="button" class="btn btn-danger" style='margin: 2px' data-bs-toggle="modal" data-bs-target="#ModalEliminar-<%= perros_encontrado.id %>">Eliminar</button>
        <% end %>
        <!-- Modal Eliminar-->
            <div class="modal fade" id="ModalEliminar-<%= perros_encontrado.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Publicacion</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Desea eliminar la publicacion de este perro que busca dueño de forma permanente ?
                  </div>
                  <div class="modal-footer">
                    <%= link_to "Confirmar", perros_encontrado, data: { turbo_method: :delete } ,  class: "btn btn-turqueza", style:'margin: 2px' %>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
                  </div>
                </div>
              </div>
        </div>


      <% end %>

      <%= link_to "Atras", perros_encontrados_path , class: "btn btn-turqueza", style:'margin-block: 10px;'%>
    </div>  
  </div>

  <% end %>


<script>
  document.addEventListener('turbo:load', function() {
    const fileInput = document.getElementById('validationFoto');
    const previewImage = document.getElementById('preview');


    fileInput.addEventListener('change', function() {
      if (fileInput.files && fileInput.files[0]) {
        const reader = new FileReader();


        reader.onload = function(e) {
          previewImage.src = e.target.result;
          previewImage.style.display = 'block';
        };


        reader.readAsDataURL(fileInput.files[0]);
      }
    });
  });
</script>