<div id="<%= dom_id perrito %>">
  <p>
    <strong>Nombre:</strong>
    <%= perrito.nombre %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= perrito.dia %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= perrito.mes %>
  </p>

  <p>
    <strong>A単o:</strong>
    <%= perrito.a単o %>
  </p>

  <p>
    <strong>Caracteristicas:</strong>
    <%= perrito.caracteristicas %>
  </p>

  <p>
    <strong>Condiciones:</strong>
    <%= perrito.condiciones %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= perrito.raza %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= perrito.sexo %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= perrito.color %>
  </p>

  <p>
    <strong>Tama単o:</strong>
    <%= perrito.tama単o %>
  </p>

</div>
