<div id="<%= dom_id historia_c %>">
  <p>
    <strong>Perrito:</strong>
    <%= historia_c.perrito_id %>
  </p>

  <p>
    <strong>Castracion:</strong>
    <%= historia_c.castracion_id %>
  </p>

  <p>
    <strong>Vacuna e:</strong>
    <%= historia_c.vacuna_e_id %>
  </p>

  <p>
    <strong>Vacuna r:</strong>
    <%= historia_c.vacuna_r_id %>
  </p>

  <p>
    <strong>Desparasitacion:</strong>
    <%= historia_c.desparasitacion_id %>
  </p>

  <p>
    <strong>Ambulatorium:</strong>
    <%= historia_c.ambulatorium_id %>
  </p>

</div>
