<%= form_with(model: cuidador_paseador) do |form| %>
  <% if cuidador_paseador.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cuidador_paseador.errors.count, "error") %> prohibited this cuidador_paseador from being saved:</h2>

      <ul>
        <% cuidador_paseador.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='row g-3', style='width: 500px; margin: 5px; border: 1px solid #000; border-radius: 5px;'>
  <div class="col">
    <%= form.label :nombre, style: "display: block;" %>
    <%= form.text_field :nombre, style:'margin-bottom: 5px;' %>
  </div>
  
  <div class="col">
    <%= form.label :apellido, style: "display: block" %>
    <%= form.text_field :apellido, style:'margin-bottom: 5px;' %>
  </div>

  <div class="col">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, style:'margin-bottom: 5px;' %>
  </div>

  <div class="col">
    <%= form.label :horarios, style: "display: block" %>
    <%= form.text_area :horarios, style:'margin-bottom: 5px;'%>
  </div>

  <div class="col">
    <%= form.label :rol, style: "display: block; margin-bottom: 5px;" %>
    <%= form.select :rol, options_for_select(['Cuidador','Paseador','Ambos'], cuidador_paseador.rol), class: 'form-select' %>
  </div>

  <div class="col">
    <%= form.label :foto, class:'d-flex' %>
    <%= form.file_field :foto, style:'margin-bottom: 5px; border-radius: 5px;' %>
  </div>

  <div>
    <% if request.path == '/cuidadores-y-paseadores/new' %>
      <%= form.submit 'Publicar', class:'btn btn-success', style:'margin-block: 10px;'%>
    <% else %>
      <%= form.submit 'Guardar cambios', class:'btn btn-success', style:'margin-block: 10px;' %>
    <% end%>
    <%= link_to "Atras", cuidador_paseadors_path , class: "btn btn-primary", style:'margin-block: 10px;'%>
<% end %>

  </div>  
</div>