<% if user_signed_in? and current_user.tipo_usuario == 'administrador'  %>
  <%= link_to "Cargar cuidador/paseador", new_cuidador_paseador_path , class: "btn btn-primary", style:'margin-block: 10px;'%>
<% end %>

<div class='d-flex'>
  <label class="form-check-label" style='margin: 5px; margin-right: 7px;'> Mostrar </label>
  <div class="form-check", style='margin: 5px;'>
    <input class="form-check-input" type="checkbox" value="" id="cuidadores-check">
    <label class="form-check-label" for="flexCheckChecked">
      Cuidadores
    </label>
  </div>
  <div class="form-check", style='margin: 5px;'>
    <input class="form-check-input" type="checkbox" value="" id="paseadores-check">
    <label class="form-check-label" for="flexCheckChecked">
      Paseadores 
    </label>
  </div>
</div>


  <div id="cuidadores_paseadores" class= 'd-flex flex-wrap'>
    <% @cuidador_paseadors.each do |cuidador_paseador| %> 
      <div class="card" style="width: 300px; height: 500px; margin: 10px" data-rol="<%= cuidador_paseador.rol.downcase %>" >
        <%= image_tag(cuidador_paseador.foto, class:'card-img-top', style:'max-height: 200px; min-height: 200px; max-width: 100%; object-fit: cover;  object-position: top; ') %>
        <div class="card-body">
          <p class="card-text", style=''> <%= cuidador_paseador.nombre %> <%= cuidador_paseador.apellido %> </p>
          <p class="card-text">
            <%if cuidador_paseador.rol == 'Ambos' %>
              <p>Cuidador y Paseador</p>
            <% else %>
              <%= cuidador_paseador.rol%>
            <% end %> 
          </p>
          <p id=ci class="card-text overflow-auto" style="max-height: 25px; overflow: hidden;"> Zona: <%= cuidador_paseador.zona %> </p>
          <p id=ci class="card-text overflow-auto" style="max-height: 75px; overflow: hidden;"> Dias y horarios: <%= cuidador_paseador.dias_horarios %> </p>
        </div>
        <div class='d-flex justify-content-center'>
          <% if user_signed_in? and current_user.tipo_usuario == 'administrador'  %>
            <%= link_to "Editar", edit_cuidador_paseador_path(cuidador_paseador) , class: "btn btn-secondary", style:'margin: 3px' %>
            <button type="button" class="btn btn-danger" style='margin: 3px' data-bs-toggle="modal" data-bs-target="#ModalEliminar-<%= cuidador_paseador.id %>">
              Eliminar
            </button>


            <!-- Modal Eliminar-->
              <div class="modal fade" id="ModalEliminar-<%= cuidador_paseador.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Publicacion</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Desea eliminar la publicacion de cuidador/paseador de forma permanente ?
                    </div>
                    <div class="modal-footer">
                      <%= link_to "Confirmar", cuidador_paseador, data: { turbo_method: :delete } ,  class: "btn btn-primary", style:'margin: 2px' %>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
                    </div>
                  </div>
                </div>
              </div>



          <% else %>
            <button type="button"  class = "btn btn-primary" style = 'margin-bottom: 3px' data-bs-toggle="modal" data-bs-target="#ModalContactar-<%= cuidador_paseador.id %>">
              Contactar
            </button>
          <% end %>
        </div>

        <!-- Modal Eliminar-->
              <div class="modal fade" id="ModalContactar-<%= cuidador_paseador.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Enviar datos de contacto</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Se le enviara un email a <%= cuidador_paseador.nombre %> con su infomacion de contacto, informandole que desea contratar sus servicio. Presione Confirmar para continuar.
                    </div>
                    <div class="modal-footer">
                      <%= link_to "Confirmar", enviar_correo_path(id: cuidador_paseador.id), data: { turbo_method: :post },  class: "btn btn-primary", style:'margin: 2px' %>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
                    </div>
                  </div>
                </div>
              </div>




      </div>
    <% end %>
  </div> 

<script>
  document.addEventListener("turbo:load", function() {
    // Obtiene referencias a los checkboxes y a los elementos de la lista
    const cuidadoresCheckbox = document.getElementById("cuidadores-check");
    const paseadoresCheckbox = document.getElementById("paseadores-check");
    const listItems = document.querySelectorAll(".card");

    // Agrega event listeners a los checkboxes
    cuidadoresCheckbox.addEventListener("change", actualizarLista);
    paseadoresCheckbox.addEventListener("change", actualizarLista);

    // Función para actualizar la visibilidad de los elementos de la lista
    function actualizarLista() {
      const mostrarCuidadores = cuidadoresCheckbox.checked;
      const mostrarPaseadores = paseadoresCheckbox.checked;

      listItems.forEach(function(item) {
        const rol = item.getAttribute("data-rol");

          if (
          (!mostrarCuidadores && !mostrarPaseadores) ||  // Ningún checkbox marcado
          (rol === "ambos") ||                          // Elemento con rol "ambos"
          (mostrarCuidadores && rol === "cuidador") ||  // Checkbox de cuidadores marcado y elemento es cuidador
          (mostrarPaseadores && rol === "paseador")     // Checkbox de paseadores marcado y elemento es paseador
        ) {
          item.style.cssText = "width: 300px; height: 550px; margin: 10px;";// Mostrar el elemento
        } else {
          item.style.display = "none"; // Ocultar el elemento
        }
      });
    }
  });
</script>





