<!-- <p style="color: green"><%= notice %></p> -->

<style>
  /* Botón personalizado */
  .custom-button {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    border: 2px solid #FFA500; /* Borde naranja */
    background-color: #FFA500; /* Fondo naranja */
    color: #000; /* Texto blanco */
    border-radius: 10px; /* Esquinas redondas */
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    text-decoration: none; /* Elimina el subrayado en el enlace */
  }

  /* Cambio de color al pasar el mouse por encima */
  .custom-button:hover {
    background-color: #FF8C00; /* Color ligeramente más oscuro */
  }

  .bordered-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
  }

  .black-line {
    border-top: 1px solid black;
   }

   /* Botón personalizado */
  .custom-button-2 {
    display: inline-block;
    padding: 4px 10px; /* Ajusta el relleno según sea necesario */
    border: 2px solid #FFA500; /* Borde naranja */
    background-color: #FFA500; /* Fondo naranja */
    color: #000; /* Texto blanco */
    border-radius: 10px; /* Esquinas redondas */
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
    text-decoration: none; /* Elimina el subrayado en el enlace */
  }

  /* Cambio de color al pasar el mouse por encima */
  .custom-button-2:hover {
    background-color: #FF8C00; /* Color ligeramente más oscuro */
  }

</style>

<h1>Perros perdidos</h1>

<% if user_signed_in? %>
  <a href="<%= new_perros_perdido_path %>" class="custom-button">Publicar un perro perdido</a>
  <button id="perros_perdidos_boton" class="custom-button">Perros perdidos</button>
  <button id="mis_perros_perdidos_boton" class="custom-button">Mis perros perdidos</button>
<% end %>

<% if @perros_perdidos.empty? %>
  <p>No hay perros perdidos, te invitamos a que publiques si encontraste un perro para que se reencuentre con su dueño.</p>
<% else %>
  <% @perros_perdidos.each do |perros_perdido| %>
    <div class="<%= (user_signed_in? && current_user.email == perros_perdido.mail) ? '' : 'no_mis_perros' %>" style="border: 1px solid black; padding: 10px; margin: 10px 0;">
      <%= render perros_perdido %>
      
      <% if user_signed_in? && current_user.email == perros_perdido.mail %>
        <div>
          <div style="display: inline-block;">
            <%= button_to "Editar", edit_perros_perdido_path(perros_perdido), method: :get, class: "custom-button-2" %>
          </div>
          <div style="display: inline-block;">
            <%= button_to "Eliminar", perros_perdido, method: :delete, class: "custom-button-2" %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<% @perros_encontrados.each do |perros_encontrado| %>
  <div class="<%= (user_signed_in? && current_user.email == perros_encontrado.mail) ? '' : 'no_mis_perros' %>" style="border: 1px solid black; padding: 10px; margin: 10px 0;">
    <%= render perros_encontrado %>
  </div>
<% end %>

<script>
  document.addEventListener('turbo:load', function() {
    // Ocultar los divs con clase "no_mis_perros" inicialmente
    var noMisPerrosDivs = document.querySelectorAll('.no_mis_perros');
    for (var i = 0; i < noMisPerrosDivs.length; i++) {
      noMisPerrosDivs[i].style.display = 'block';
    }

    // Agregar función al botón "Perros perdidos"
    var perrosPerdidosBoton = document.getElementById('perros_perdidos_boton');
    perrosPerdidosBoton.addEventListener('click', function() {
      // Mostrar todos los divs con clase "no_mis_perros"
      for (var i = 0; i < noMisPerrosDivs.length; i++) {
        noMisPerrosDivs[i].style.display = 'block';
      }
    });

    // Agregar función al botón "Mis perros perdidos"
    var misPerrosPerdidosBoton = document.getElementById('mis_perros_perdidos_boton');
    misPerrosPerdidosBoton.addEventListener('click', function() {
      // Ocultar todos los divs con clase "no_mis_perros"
      for (var i = 0; i < noMisPerrosDivs.length; i++) {
        noMisPerrosDivs[i].style.display = 'none';
      }
    });
  });
</script>
