<div class="container mt-5">
  <h2 style="margin-block: 20px;">Cliente</h2>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Nombre</th>
        <td><%= @user.nombre %></td>
      </tr>
      <tr>
        <th>Apellido</th>
        <td><%= @user.apellido %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>Dirección</th>
        <td><%= @user.direccion %></td>
      </tr>
      <tr>
        <th>Número</th>
        <td><%= @user.nro %></td>
      </tr>
      <tr>
        <th>Telefono</th>
        <td><%= @user.telefono %></td>
      </tr>
      <tr>
        <th>Tipo de Usuario</th>
        <td><%= @user.tipo_usuario %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "Editar Perfil del usuario", edit_other_path(@user), class: "btn btn-secondary" %>
</div>


<div style="margin: 20px;">

  <h3> Perros </h3>

<div class='d-flex'>
  <label class="form-check-label" style='margin: 5px; margin-right: 7px;'>  </label>
  <div class="form-check", style='margin: 5px;'>
    <input class="form-check-input" type="checkbox" value="" id="fallecidos-check">
    <label class="form-check-label" for="flexCheckChecked">
      Mostrar perros fallecidos
    </label>
  </div>
</div>




<% if @user.perritos.empty? %>
  <p class="text-muted">No tienes perros.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre del perro</th>
        <th>Raza</th>
        <th>Fecha de Nacimiento</th>
        <% if current_user.tipo_usuario == 'administrador' %>
          <th>Acciones</th>
        <% end %>
      </tr>
    </thead>

    

    <tbody>
    <% @user.perritos.each do |perrito| %>
      <tr class="<%= (perrito.fallecido) ? 'filasfallecidos' : '' %>" data-rol="<%= perrito.fallecido %>">
          <td><%= perrito.nombre %></td>
          <td><%= perrito.raza %></td>
          <td><%= "#{perrito.dia}/#{perrito.mes}/#{perrito.año}" %></td>
          <td>
            <!-- Botón "Editar" y "Eliminar" para el administrador -->
            <% if current_user.tipo_usuario == 'administrador' %>
              <%= link_to "Editar", edit_perrito_path(perrito), class: "btn btn-sm btn-secondary" %>
              <%# link_to "Eliminar", perrito, data: { turbo_method: :delete }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
  </table>
<% end %>



<%= link_to "Agregar perro al usuario", perrito_ajeno_path(@user), class: "btn btn-turqueza" %>


</div>

<script>
  document.addEventListener("turbo:load", function() {
    // Obtiene referencias a los checkboxes y a los elementos de la lista
    const fallecidosCheckbox = document.getElementById("fallecidos-check");
    const listItems = document.querySelectorAll(".filasfallecidos");
    for (var i = 0; i < listItems.length; i++) {
      listItems[i].style.display = 'none';
    }

    // Agrega event listeners a los checkboxes

    fallecidosCheckbox.addEventListener("change", actualizarLista);

    // Función para actualizar la visibilidad de los elementos de la lista
    function actualizarLista() {
      const mostrarFallecidos = fallecidosCheckbox.checked;

      listItems.forEach(function(item) {
        const muerto = item.getAttribute("data-rol");

          if ((!mostrarFallecidos) &&  (muerto)// Checkbox de mostrar fallecidos marcado y el perro esta muerto
        ) {
            item.style.display = "none"; // Ocultar el elemento
        } else {
          item.style.display = ""; // Mostrar el elemento sin modificar su formato
        }
      });
    }
  });
</script>