<div class="container mt-5">
  <h2 style="margin-block: 20px;">Cuenta</h2>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Nombre</th>
        <td><%= current_user.nombre %></td>
      </tr>
      <tr>
        <th>Apellido</th>
        <td><%= current_user.apellido %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <th>Dirección</th>
        <td><%= current_user.direccion %></td>
      </tr>
      <tr>
        <th>Número</th>
        <td><%= current_user.nro %></td>
      </tr>
      <tr>
        <th>Telefono</th>
        <td><%= current_user.telefono %></td>
      </tr>
      <tr>
        <th>Tipo de Usuario</th>
        <td><%= current_user.tipo_usuario %></td>
      </tr>
    </tbody>
  </table>
  <%= link_to "Editar Perfil", edit_user_path(current_user), class: "btn btn-secondary" %>
</div>

<div style="margin: 20px;">
  <h2> Tus perros </h2>

<div class='d-flex'>
  <label class="form-check-label" style='margin: 5px; margin-right: 7px;'>  </label>
  <div class="form-check", style='margin: 5px;'>
    <input class="form-check-input" type="checkbox" value="" id="fallecidos-check">
    <label class="form-check-label" for="flexCheckChecked">
      Mostrar perros fallecidos
    </label>
  </div>
</div>


<% if current_user.perritos.empty? %>
  <p class="text-muted">No cuentas con perros actualmente, ¡Visita la sección de perros en adopción y encontra el compañero que estas buscando!.</p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre del perro</th>
        <th>Raza</th>
        <th>Fecha de Nacimiento</th>
        <% if current_user.tipo_usuario == 'veterinario' %>
          <th>Acciones</th>
        <% end %>
      </tr>
    </thead>

    

    <tbody>
    <% current_user.perritos.each do |perrito| %>
      <tr class="<%= (perrito.fallecido) ? 'filasfallecidos' : '' %>" data-rol="<%= perrito.fallecido %>">
          <td><%= perrito.nombre %></td>
          <td><%= perrito.raza %></td>
          <td><%= "#{perrito.dia}/#{perrito.mes}/#{perrito.año}" %></td>
          <td>
            <!-- Botón "Editar" y "Eliminar" para el veterinario -->
            <% if current_user.tipo_usuario == 'veterinario' %>
              <%= link_to "Editar", edit_perrito_path(perrito, tipo: 'mio'), class: "btn btn-sm btn-secondary" %>
              <%# link_to "Eliminar", perrito, data: { turbo_method: :delete }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </tbody>
  </table>
<% end %>

<% if @perritos_vivos.empty? %>
  <p id="mensaje-perros" class="text-muted" style="display: block;">
    No cuentas con perros actualmente. ¡Visita la sección de perros en adopción y encuentra el compañero que estás buscando!
  </p>
<% end %>

<%= link_to "Agregar perro", add_dog_path(current_user, tipo: 'mio'), class: "btn btn-turqueza" %>

</div>

<script>
  document.addEventListener("turbo:load", function() {

    // Obtiene referencias a los checkboxes y a los elementos de la lista
    const fallecidosCheckbox = document.getElementById("fallecidos-check");
    const listItems = document.querySelectorAll(".filasfallecidos");
    
    for (var i = 0; i < listItems.length; i++) {
      listItems[i].style.display = 'none';
    }

    // Agrega event listeners a los checkboxes

    fallecidosCheckbox.addEventListener("change", actualizarLista);

    // Función para actualizar la visibilidad de los elementos de la lista
    function actualizarLista() {
      const mostrarFallecidos = fallecidosCheckbox.checked;

      listItems.forEach(function(item) {
        const muerto = item.getAttribute("data-rol");

          if ((!mostrarFallecidos) &&  (muerto)// Checkbox de mostrar fallecidos marcado y el perro esta muerto
        ) {
            item.style.display = "none"; // Ocultar el elemento
        } else {
          item.style.display = ""; // Mostrar el elemento sin modificar su formato
        }
      });
    }
  });
</script>

<script>
  document.addEventListener("turbo:load", function() {
    const fallecidosCheckbox = document.getElementById("fallecidos-check");
    const mensajePerros = document.getElementById("mensaje-perros");

    fallecidosCheckbox.addEventListener("change", function() {
      const mostrarFallecidos = fallecidosCheckbox.checked;

      if (!mostrarFallecidos && <%= @perritos_vivos.empty? %>) {
        mensajePerros.style.display = 'block';
      } else {
        mensajePerros.style.display = 'none';
      }
    });
  });
</script>