<div id="<%= dom_id castracion %>">
  <p>
    <strong>Historia c:</strong>
    <%= castracion.historia_c_id %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= castracion.dia %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= castracion.mes %>
  </p>

  <p>
    <strong>Anio:</strong>
    <%= castracion.anio %>
  </p>

  <p>
    <strong>Detalle:</strong>
    <%= castracion.detalle %>
  </p>

</div>
