<%= form_with(model: castracion) do |form| %>
  <% if castracion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(castracion.errors.count, "error") %> prohibited this castracion from being saved:</h2>

      <ul>
        <% castracion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :dia, style: "display: block" %>
    <%= form.number_field :dia %>
  </div>

  <div>
    <%= form.label :mes, style: "display: block" %>
    <%= form.number_field :mes %>
  </div>

  <div>
    <%= form.label :año, style: "display: block" %>
    <%= form.number_field :anio %>
  </div>

  <div>
    <%= form.label :detalle, style: "display: block" %>
    <%= form.text_area :detalle %>
  </div>

  <%= form.hidden_field :perrito_id, value: @perrito.id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
