<div id="<%= dom_id vet_de_guardium %>">
  <p>
    <strong>Foto:</strong>
    <%= vet_de_guardium.foto %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= vet_de_guardium.dia %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= vet_de_guardium.telefono %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= vet_de_guardium.mail %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= vet_de_guardium.direccion %>
  </p>

</div>
