<p style="color: green"><%= notice %></p>

<%= render @vet_de_guardium %>

<div>
  <%= link_to "Edit this vet de guardium", edit_vet_de_guardium_path(@vet_de_guardium) %> |
  <%= link_to "Back to vet de guardia", vet_de_guardia_path %>

  <%= button_to "Destroy this vet de guardium", @vet_de_guardium, method: :delete %>
</div>
