<%= form_with(model: vacuna_e) do |form| %>
  <% if vacuna_e.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vacuna_e.errors.count, "error") %> prohibited this vacuna_e from being saved:</h2>

      <ul>
        <% vacuna_e.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :historia_c_id, style: "display: block" %>
    <%= form.text_field :historia_c_id %>
  </div>

  <div>
    <%= form.label :dia, style: "display: block" %>
    <%= form.number_field :dia %>
  </div>

  <div>
    <%= form.label :mes, style: "display: block" %>
    <%= form.number_field :mes %>
  </div>

  <div>
    <%= form.label :anio, style: "display: block" %>
    <%= form.number_field :anio %>
  </div>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.text_field :tipo %>
  </div>

  <div>
    <%= form.label :lote, style: "display: block" %>
    <%= form.text_field :lote %>
  </div>

  <div>
    <%= form.label :dosis, style: "display: block" %>
    <%= form.number_field :dosis %>
  </div>

  <div>
    <%= form.label :detalle, style: "display: block" %>
    <%= form.text_area :detalle %>
  </div>

  <div>
    <%= form.label :marca, style: "display: block" %>
    <%= form.text_area :marca %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
