<div id="<%= dom_id vacuna_e %>">
  <p>
    <strong>Historia c:</strong>
    <%= vacuna_e.historia_c_id %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= vacuna_e.dia %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= vacuna_e.mes %>
  </p>

  <p>
    <strong>Anio:</strong>
    <%= vacuna_e.anio %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= vacuna_e.tipo %>
  </p>

  <p>
    <strong>Lote:</strong>
    <%= vacuna_e.lote %>
  </p>

  <p>
    <strong>Dosis:</strong>
    <%= vacuna_e.dosis %>
  </p>

  <p>
    <strong>Detalle:</strong>
    <%= vacuna_e.detalle %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= vacuna_e.marca %>
  </p>

</div>
