<p style="color: green"><%= notice %></p>

<%= render @vacuna_e %>

<div>
  <%= link_to "Edit this vacuna e", edit_vacuna_e_path(@vacuna_e) %> |
  <%= link_to "Back to vacuna es", vacuna_es_path %>

  <%= button_to "Destroy this vacuna e", @vacuna_e, method: :delete %>
</div>
