<div id="<%= dom_id historia_clinica %>">
  <p>
    <strong>Perrito:</strong>
    <%= historia_clinica.perrito_id %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= historia_clinica.tipo %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= historia_clinica.dia %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= historia_clinica.mes %>
  </p>

  <p>
    <strong>Año:</strong>
    <%= historia_clinica.año %>
  </p>

  <p>
    <strong>Detalle:</strong>
    <%= historia_clinica.detalle %>
  </p>

  <p>
    <strong>Tipovacuna:</strong>
    <%= historia_clinica.tipoVacuna %>
  </p>

  <p>
    <strong>Lote:</strong>
    <%= historia_clinica.lote %>
  </p>

  <p>
    <strong>Dosis:</strong>
    <%= historia_clinica.dosis %>
  </p>

  <p>
    <strong>Producto:</strong>
    <%= historia_clinica.producto %>
  </p>

  <p>
    <strong>Sintomas:</strong>
    <%= historia_clinica.sintomas %>
  </p>

  <p>
    <strong>Diagnostico:</strong>
    <%= historia_clinica.diagnostico %>
  </p>

  <p>
    <strong>Tratamiento:</strong>
    <%= historia_clinica.tratamiento %>
  </p>

</div>
