<%= form_with(model: @historia_clinica) do |form| %>
  
    <div>
      <%= form.label :dia, style: "display: block" %>
      <%= form.number_field :dia %>
    </div>
  
    <div>
      <%= form.label :mes, style: "display: block" %>
      <%= form.number_field :mes %>
    </div>
  
    <div>
      <%= form.label :año, style: "display: block" %>
      <%= form.number_field :año %>
    </div>
  
    <div>
      <%= form.label :producto, style: "display: block" %>
      <%= form.text_field :producto %>
    </div>

    <div>
      <%= form.label :lote, style: "display: block" %>
      <%= form.text_field :lote %>
    </div>
  
    <div>
      <%= label_tag 'historia_clinica[dosis]', 'Dosis (en mililitros)', style: "display: block" %>
      <%= form.number_field :dosis %>
    </div>
  
    <div>
        <%= form.label :detalle, style: "display: block" %>
        <%= form.text_area :detalle %>
    </div>

    <%= form.hidden_field :id, value: @perrito.id %>
    <%= form.hidden_field :tipo, value: 'Desparasitación' %>
    <%= form.hidden_field :quien, value: params[:quien] %>
    <%= form.hidden_field :user_id, value: params[:user_id] %>


    <div>
      <%= form.submit %>
    </div>
  <% end %>