<%= form_with(model: @historia_clinica) do |form| %>
  <div class='row g-3 needs-validation' style='width: 500px; margin: 5px; border: 1px solid #000; border-radius: 5px;'>

  <div class="col-md-5">
  <%= form.label :fecha_de_atencion, style: "display: block;" %>
    <div class="input-group has-validation">
      <%= form.date_field :fecha, class: 'form-control', required: true, max: Date.today.to_s, style: 'appearance: none;' %>
    </div>
  </div>


  <div class="mb-2">
    <%= form.label :detalle, class: "form-label" %>
    <%= form.text_area :detalle, class: "form-control", required: true %>
  </div>

  <%= form.hidden_field :id, value: @perrito.id %>
  <%= form.hidden_field :tipo, value: 'Castración' %>
  <%= form.hidden_field :quien, value: params[:quien] %>
  <%= form.hidden_field :user_id, value: params[:user_id] %>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
