<%= form_with(model: @historia_clinica) do |form| %>

  <div class="mb-3">
    <%= form.label :dia, class: "form-label" %>
    <%= form.number_field :dia, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :mes, class: "form-label" %>
    <%= form.number_field :mes, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :año, class: "form-label" %>
    <%= form.number_field :año, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :Cuadro_sintomatologico, class: "form-label" %>
    <%= form.text_area :sintomas, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :diagnostico, class: "form-label" %>
    <%= form.text_area :diagnostico, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :tratamiento, class: "form-label" %>
    <%= form.text_area :tratamiento, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :Detalles_adicionales, class: "form-label" %>
    <%= form.text_area :detalle, class: "form-control" %>
  </div>

  <%= form.hidden_field :id, value: @perrito.id %>
  <%= form.hidden_field :tipo, value: 'Atención Clínica Ambulatoria' %>
  <%= form.hidden_field :quien, value: params[:quien] %>
  <%= form.hidden_field :user_id, value: params[:user_id] %>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
