<div id="<%= dom_id campania_donacion %>">
  <p>
    <strong>Nombre:</strong>
    <%= campania_donacion.nombre %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= campania_donacion.motivo %>
  </p>

  <p>
    <strong>Beneficiario:</strong>
    <%= campania_donacion.beneficiario %>
  </p>

  <p>
    <strong>Monto total:</strong>
    <%= campania_donacion.monto_total %>
  </p>

  <p>
    <strong>Monto actual:</strong>
    <%= campania_donacion.monto_actual %>
  </p>

  <p>
    <strong>Dia limite:</strong>
    <%= campania_donacion.dia_limite %>
  </p>

  <p>
    <strong>Mes limite:</strong>
    <%= campania_donacion.mes_limite %>
  </p>

  <p>
    <strong>Anio limite:</strong>
    <%= campania_donacion.anio_limite %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= campania_donacion.imagen %>
  </p>

</div>
