<h2>Campañas de Donación</h2>

<% if current_user.tipo_usuario == 'veterinario' %>
  <%= link_to "Cargar campaña", cargar_campania_path, class: "btn btn-sm btn-secondary" %>
<% end %>

<p> </p>

<% if @campanias.empty? %>
  <p>No hay Campañas activas actualmente</p>
<% else %>
  <div class="row">
    <% @campanias.each_slice(3) do |campanias_slice| %>
      <% campanias_slice.each do |campania| %>
        <div class="col-md-4">
          <div class="card mb-4">
            <!-- Contenido de la campaña -->
            <div class="card-body">
              <h3 class="card-title"><%= campania.nombre %></h3>
              <% if campania.imagen.present? %>
                <%= image_tag campania.imagen, class: "img-fluid", alt: "Imagen de la campaña" %>
              <% else %>
                <p class="card-text"><em>No hay imagen disponible</em></p>
              <% end %>
              <p class="card-text"><strong>Beneficiario:</strong> <%= campania.beneficiario %></p>
              <p class="card-text"><strong>Motivo:</strong> <%= campania.motivo %></p>
              <p class="card-text"><strong>Fecha Límite:</strong> <%= campania.dia_limite %>/<%= campania.mes_limite %>/<%= campania.anio_limite %></p>
              <p class="card-text"><strong>Monto Actual:</strong> $<%= campania.monto_actual %></p>
              <p class="card-text"><strong>Monto a recaudar:</strong> $<%= campania.monto_total %></p>

              <!-- Barra de progreso -->
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: <%= (campania.monto_actual.to_f / campania.monto_total.to_f) * 100 %>%" aria-valuenow="<%= campania.monto_actual %>" aria-valuemin="0" aria-valuemax="<%= campania.monto_total %>"></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>