<h1>Hola <%= @cuidador_paseador.nombre %> <%= @cuidador_paseador.apellido %>,</h1>
<p>¡Nos comunicamos para informarte que hay alguien interesado en contratar tus servicios de <%= @cuidador_paseador.rol %>!</p>
<br>
<p>Te adjuntamos la informacion de contacto del cliente interesado:</p>
<p>Nombre y apellido: <%= @nombre %> <%= @apellido %> <p/>
<p>Direccion: Calle <%= @direccion %> N <%= @numero %><p/>
<p>Email: <%= @email %><p/>
<p>Telefono: <%= @telefono %><p/>  
<br>
<p>Si te interesa, no dudes en comunicarte con el para brindarle la atencion que esta buscando lo antes posible! <p/>
<p>Saludos, Equipo de ¡Oh My Dog!<p/>



