
  <ul class="list-group">
    <li class="list-group-item"><%= current_user.email %></li>
    <li class="list-group-item"><%= current_user.nombre %></li>
    <li class="list-group-item"><%= current_user.apellido %></li>
    <li class="list-group-item"><%= current_user.direccion %></li>
    <li class="list-group-item"><%= current_user.nro %></li>
  </ul>

<%= link_to "Editar Perfil", edit_user_path(current_user), class: "btn btn-primary" %>
