<h1>Hola <%= @turno.nombre_cliente %> <%= @turno.apellido_cliente %>,</h1>
<p>¡Nos comunicamos recordarle que tiene un turno de <%= @turno.tipo_turno %> programado!</p>
<br>
<p>Te adjuntamos la informacion del mismo:</p>
<p> Tipo de turno: <%= @turno.tipo_turno %> <p/>
<p> Fecha: <%= @turno.fecha.strftime('%d/%m/%y') %> <p/>
<p> Horario: <%= @turno.horario.strftime('%H:%Mhs') %> <p/>
<p> Detalle: <%= @turno.detalle %> <p/>
<br>
<p>Te esperamos!<p/>
<p>Saludos, Equipo de ¡Oh My Dog!<p/>