<h1>Perros perdidos</h1>

<!--
<div style="margin-bottom: 20px;">
  <button id="perrosPerdidosButton" class="selected">Perros perdidos</button>
  <button id="perrosEncontradosButton">Perros encontrados</button>

</div>
-->

<style>
    table {
        border-collapse: collapse;
    }
  
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
  </style>

<div id="contenidoPerrosPerdidos">

<% if @lost_dogs.empty? %>
  <p>No hay perros perdidos, te invitamos a que publiques si encontraste un perro para que se reencuentre con su dueño.</p>
  <% if @found_dogs.empty? %>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Foto</th>
          <th>Fecha de publicación</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @found_dogs.each do |dog| %>
          <tr>
            <td><%= dog.name %></td>
            <td><%= image_tag dog.photo, width: 100 %></td>
            <td><%= dog.publication_date %></td>
            <td><%= dog.status %></td>
            <td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Foto</th>
        <th>Fecha de publicación</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @lost_dogs.each do |dog| %>
        <tr>
          <td><%= dog.name %></td>
          <td><%= image_tag dog.photo, width: 100, style: 'display: block; margin: 0 auto;' %></td>
          <td><%= dog.publication_date %></td>
          <td><%= dog.status %></td>
          <td>
            <%= link_to "Contactar", contactar_dog_path, class: "btn btn-primary", disabled: true %>
          </td>
        </tr>
      <% end %>

      <% @found_dogs.each_with_index do |dog, index| %>
       <tr>
         <td><%= dog.name %></td>
         <td><%= image_tag dog.photo, width: 100 %></td>
         <td><%= dog.publication_date %></td>
         <td><%= dog.status %></td>
         <td>
         </td>
       </tr>
       <% break if index >= 49 %>
      <% end %>
    
    </tbody>
  </table>
<% end %>

</div>