<div style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">

  <div style="background-color: #ffffff; max-width: 600px; margin: 0 auto; padding: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 8px;">

    <h1 style="color: #333;">¡Han encontrado a tu perro!</h1>
    <p>Hola <%= @owner.nombre %> <%= @owner.apellido %>,</p>
    <p>Nos complace informarte que alguien ha encontrado a tu perro perdido, <%= @perro.nombre %>.</p>
    <p>Los detalles del usuario que encontró a tu perro son los siguientes:</p>

    <ul>
      <li><strong>Nombre: </strong><%= @current_user.nombre %></li>
      <li><strong>Apellido: </strong><%= @current_user.apellido %></li>
      <li><strong>Dirección: </strong><%= @current_user.direccion %></li>
      <li><strong>Correo Electrónico: </strong><%= @current_user.email %></li>
    </ul>

    <p>Te recomendamos que te pongas en contacto con esta persona para coordinar la devolución de tu querida mascota.</p>
    <p>Para mantener actualizada nuestra comunidad y brindar esperanza a otros dueños de mascotas, te invitamos a marcar a <%= @perro.nombre %> como "Encontrado" en nuestra página. Esto ayudará a cerrar la búsqueda y a compartir la alegría con todos los que han estado pendientes de la situación.</p>
    <p>Agradecemos tu cooperación y confianza en OhMyDog, y esperamos que pronto puedas reunirte con tu peludo amigo.</p>

    <p>Saludos,</p>
    <p>El equipo de OhMyDog.</p>

  </div>
</div>