<nav class="navbar navbar-expand-lg" style="background-color: white;  z-index: 1000;">
  <div class="container-fluid d-flex align-items-end border-bottom border-dark">
    <a class="navbar-brand" href="#" style='width: 5%'>
       <%= link_to(image_tag("logotype.png", width: 150, height: 120), root_path, class:"nav-link", style: "margin-right: 0px;") %>
    </a> 
    <div id="navbarSupportedContent" style='width: 80%'>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
        <li class="nav-item">
          <%= link_to('Inicio', root_path, class: "nav-link #{'active' if current_page?(root_path)}") %>
        </li>
         <% if user_signed_in? %>
          <li class="nav-item">
          <%= link_to('Turnos', turnos_path, class:"nav-link #{'active' if current_page?(turnos_path)}") %>
        </li>
        <% end %>
        <% if user_signed_in? and current_user.tipo_usuario == 'veterinario' %>
          <li class="nav-item">
            <%= link_to('Atenci칩n al cliente', atencion_cliente_path, class: "nav-link #{'active' if current_page?(atencion_cliente_path)}") %>
          </li>
        <% end %>
        <li class="nav-item dropdown <%= 'active' if current_page?(perros_perdidos_path) || current_page?(perros_encontrados_path) %>">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Se busca
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#"><%= link_to('Perros perdidos', perros_perdidos_path, class:"dropdown-item #{'active' if current_page?(perros_perdidos_path)}") %></a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#"><%= link_to('Perros encontrados', perros_encontrados_path, class:"dropdown-item #{'active' if current_page?(perros_encontrados_path)}") %></a></li>
  </ul>
</li>
  <li class="nav-item">
    <%= link_to('Perros en adopcion', perros_en_adopcions_path, class:"nav-link #{'active' if current_page?(perros_en_adopcions_path)}") %>
  </li>

  <li class="nav-item">
    <%= link_to('Campa침as de donaci칩n', ver_campanias_path, class:"nav-link #{'active' if current_page?(ver_campanias_path)}") %>
  </li>
  
  <li class="nav-item">
    <%= link_to('Busqueda de pareja', perros_que_buscan_parejas_path, class:"nav-link #{'active' if current_page?(perros_que_buscan_parejas_path)}") %>
  </li>

<li class="nav-item">
          <%= link_to('Cuidadores y paseadores', cuidador_paseadors_path, class:"nav-link #{'active' if current_page?(cuidador_paseadors_path)}") %>
        </li>
        <li class="nav-item">
          <%= link_to('Veterinarias de guardia', vet_de_guardia_path, class:"nav-link #{'active' if current_page?(vet_de_guardia_path)}") %>
        </li>
      </ul>
    </div>
    <div id="navbarSupportedContent" style='width: 15%'>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
        <li class="nav-item">
          <% if user_signed_in? %>
              <li class="nav-item dropdown <%= 'active' if current_page?(ver_perfil_path(current_user))%>">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Cuenta
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"> <%= link_to('Ver perfil', ver_perfil_path(current_user), class:"dropdown-item #{'active' if current_page?(ver_perfil_path(current_user))}", method: :get )%></a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"><%= link_to('Cerrar sesi칩n', logout_path, class:"dropdown-item", method: :delete )%></li>
                </ul>
              </li>
          <% else %>
            <%= link_to('Ingresar', login_path, class:"nav-link") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar-nav .nav-item .nav-link,
  .navbar-nav .nav-item.dropdown .nav-link,
  .navbar-nav .nav-item.dropdown .dropdown-item {
    color: #0D9BB5; /* Turquesa como color predeterminado */
  }

  .navbar-nav .nav-item .nav-link.active,
  .navbar-nav .nav-item.dropdown.active .nav-link,
  .navbar-nav .nav-item.dropdown .dropdown-item.active {
    color: #FF914C; /* Cambia a tu color deseado para elementos activos */
  }

  .navbar-nav .nav-item .nav-link:hover,
  .navbar-nav .nav-item.dropdown:hover > .nav-link {
    color: #FF914C; /* Cambia a tu color deseado al hacer hover en la barra desplegable */
  }

  .navbar-nav .nav-item.dropdown:hover .dropdown-menu .dropdown-item:hover {
    background-color: #ffff;
    color: #FF914C; /* Cambia a tu color deseado al hacer hover en elementos desplegables */
  }

  .navbar-nav .nav-item.dropdown .dropdown-item.active {
    background-color: #ffff; /* Cambia a tu color deseado para el fondo del elemento activo */
  }

  .navbar-nav .nav-item.dropdown .dropdown-item:active {
    background-color: #ffffff; /* Cambia a tu color deseado al hacer clic en elementos desplegables */
    color: #FF914C; /* Cambia a tu color deseado para el texto al hacer clic */
  }
</style>
