<div id="<%= dom_id ambulatorium %>">
  <p>
    <strong>Historia c:</strong>
    <%= ambulatorium.historia_c_id %>
  </p>

  <p>
    <strong>Dia:</strong>
    <%= ambulatorium.dia %>
  </p>

  <p>
    <strong>Mes:</strong>
    <%= ambulatorium.mes %>
  </p>

  <p>
    <strong>Anio:</strong>
    <%= ambulatorium.anio %>
  </p>

  <p>
    <strong>Sintomas:</strong>
    <%= ambulatorium.sintomas %>
  </p>

  <p>
    <strong>Diagnostico:</strong>
    <%= ambulatorium.diagnostico %>
  </p>

  <p>
    <strong>Tratamiento:</strong>
    <%= ambulatorium.tratamiento %>
  </p>

  <p>
    <strong>Detalles:</strong>
    <%= ambulatorium.detalles %>
  </p>

</div>
