<p style="color: green"><%= notice %></p>

<%= render @ambulatorium %>

<div>
  <%= link_to "Edit this ambulatorium", edit_ambulatorium_path(@ambulatorium) %> |
  <%= link_to "Back to ambulatoria", ambulatoria_path %>

  <%= button_to "Destroy this ambulatorium", @ambulatorium, method: :delete %>
</div>
