<div id="<%= dom_id turno %>" class="card mt-3 mx-auto" style="width: 600px;">
  <div class="card-body">
    <h5 class="card-title text-center">Detalles del Turno</h5>
    <ul class="list-group list-group-flush" style="margin: 10px; margin-top: 20px;">
      <li class="list-group-item">
        <strong>Nombre y apellido:</strong>
        <%= turno.nombre_cliente %> <%= turno.apellido_cliente %>
      </li>
      <li class="list-group-item">
       <strong>Nombre de los perros:</strong>
        <%= turno.nombres_perros.gsub(/[\[\]\"]/, '').split(',').join(', ') %>
      </li>
      <li class="list-group-item">
        <strong>Tipo de turno:</strong>
        <%= turno.tipo_turno %>
      </li>
      <li class="list-group-item">
        <strong>Fecha:</strong>
        <%= turno.dia.strftime('%d/%m/%y') %>
      </li>
      <li class="list-group-item">
        <strong>Horario:</strong>
        <%= turno.horario.strftime('%H:%Mhs') %>
      </li>
      <li class="list-group-item">
        <strong>Detalle:</strong>
        <%= turno.descripcion %>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-between" style="margin: 22px; margin-block: 5px;">

      <button type="button" class= "btn btn-danger" style= 'margin: 2px;' data-bs-toggle="modal" data-bs-target="#ModalCancelarTurno-<%= turno.id %>">
              Cancelar turno
        </button>

      <!-- Modal Rechazar Turno-->
        <div class="modal fade" id="ModalCancelarTurno-<%= turno.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar cancelacion de turno</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                <div class="modal-body">
                  ¿Desea cancelar el turno?
                </div>
              <div class="modal-footer">
                <%= button_to "Confirmar", @turno, method: :delete,  class: "btn btn-success", style:'margin: 2px' %>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Atras</button>
              </div>
            </div>
          </div>
        </div>
      <%= link_to "Atrás", gestion_turnos_path, class: "btn btn-primary", style:'margin:2px;' %>
  </div>
</div>