<div id="<%= dom_id perros_que_buscan_pareja %>">
  <p>
    <strong>Nombre:</strong>
    <%= perros_que_buscan_pareja.nombre %>
  </p>

  <p>
    <strong>Fecha de nacimiento:</strong>
    <%= perros_que_buscan_pareja.fecha_de_nacimiento %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= perros_que_buscan_pareja.raza %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= perros_que_buscan_pareja.sexo %>
  </p>

  <p>
    <strong>Caracteristicas:</strong>
    <%= perros_que_buscan_pareja.caracteristicas %>
  </p>

  <p>
    <strong>Condiciones:</strong>
    <%= perros_que_buscan_pareja.condiciones %>
  </p>

  <p>
    <strong>Tamano:</strong>
    <%= perros_que_buscan_pareja.tamano %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= perros_que_buscan_pareja.color %>
  </p>

</div>
