<style>
  /* Encontrado */
  .activo {
    background-color: #FFF8E6;
  }

  /* Se busca */
  .no-activo {
    background-color: #e5f7fa;
  }

  .btn-same-width {
    width: 56%;
  }

</style>

<h1>Busqueda de pareja canina</h1>

<% if @perros_del_usuario.empty? %>
  <div class="no_mis_perros">
    <p>No tienes perros registrados en la veterinaria.</p>
  </div>
<% else %>
  <div class= 'd-flex flex-wrap'>

  <% @perros_del_usuario.each do |perros| %>
   
    <div class="card d-flex <%= perros.postulado ? 'activo' : 'no-activo' %>" style="max-width: 350px; max-height: 650px; min-width: 350px; min-height: 500px; margin: 10px">
    
      <div class="card-body">
        <p class="card-text", style=''> <strong> Nombre: </strong> <%= perros.nombre %> </p>
        <p class="card-text", style=''> <strong> Edad: </strong> <%= calcular_edad(perros.dia, perros.mes, perros.a침o) %></p>
        <p class="card-text", style=''> <strong> Raza: </strong> <%= perros.raza %> </p>
        <p class="card-text", style=''> <strong> Sexo: </strong> <%= perros.sexo %> </p>
        <p class="card-text", style=''> <strong> Caracteristicas: </strong> <%= perros.caracteristicas %> </p>
        <p class="card-text", style=''> <strong> Condiciones: </strong> <%= perros.condiciones %> </p>
        <p class="card-text", style=''> <strong> color: </strong> <%= perros.color %> </p>
        <p class="card-text", style=''> <strong> Tama침o: </strong> <%= perros.tama침o %> </p>
      </div>

      <% if !perros.postulado %>

        <div class='d-flex justify-content-center' style='flex-direction: column; align-items: center;'>
          <button type="button"  class = "btn btn-turqueza" style = 'margin-bottom: 3px' data-bs-toggle="modal" data-bs-target="#Modal_postular-<%= perros.id %>" >Postular</button>

          <div class="modal fade" id="Modal_postular-<%= perros.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Postular a <%= perros.nombre %> para la busqueda de pareja</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Desea postular a <%= perros.nombre %> para buscarle pareja?</p>
                  <%= form_with model: @perros_del_usuario, url: postular_perros_que_buscan_pareja_path(perros.id) , method: :post, id: 'formularioDatos' do |form| %>

                    <div class="mb-3">
                      <%= form.label :descripcion, 'Descripcion:' %>
                      <%= form.text_area :descripcion, class: 'form-control', required: true %>
                    </div>

                    <div class="mb-3">
                      <%= form.label :foto, 'Foto:' %>
                      <%= form.file_field :foto, class: 'form-control', required: true, accept: 'image/*' %>
                    </div>

                    <% if perros.sexo == "hembra" %>
                      <div class="mb-3">
                        <%= form.label :fecha_inicio_celo, 'Fecha del ultimo celo:' %>
                        <%= form.date_field :fecha_celo_inicio, class: 'form-control', required: true, max: Date.current.to_s  %>
                      </div>
                    <% end %>


                    <%= form.submit 'Postular', id: "confirmarBtn", class: 'btn btn-turqueza', style:"margin: 2px" %>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      <% else %>
        <div class='d-flex justify-content-center' style='flex-direction: column; align-items: center;'>

          <div>

            <%= link_to 'Buscar pareja', buscar_pareja_perros_que_buscan_pareja_path(perros.id), class: 'btn btn-success', style: 'margin-bottom: 3px' %>

            <button type="button"  class = "btn btn-danger" style = 'margin-bottom: 3px' data-bs-toggle="modal" data-bs-target="#Modal_retirar-<%= perros.id %>" >Retirar</button>

          </div>

          <div class="modal fade" id="Modal_retirar-<%= perros.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Retirar a <%= perros.nombre %> para la busqueda de pareja</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Desea retirar a <%= perros.nombre %> para dejar de buscarle pareja?</p>
                  <ul>
                    <li>Esto borrar치 todos los Me gusta que hayas dado con <%= perros.nombre %></li>
                  </ul>
                  <%= form_with model: @perros_del_usuario, url: retirar_perros_que_buscan_pareja_path(perros.id) , method: :post, id: 'formularioDatos' do |form| %>
                    <%= form.submit 'Retirar', id: "confirmarBtn", class: 'btn btn-turqueza', style:"margin: 2px" %>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atras</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- agregar botones (3) faltantes / agregar btn-same-width o no -->
          <%= link_to 'Quien me dio Me gusta', ver_perros_que_me_dieron_me_gusta_perros_que_buscan_pareja_path(perros.id), class: 'btn btn-turqueza btn-same-width', style: 'margin-bottom: 3px' %>
          <%= link_to 'Mis No me gusta', ver_mis_no_me_gusta_perros_que_buscan_pareja_path(perros.id), class: 'btn btn-turqueza btn-same-width', style: 'margin-bottom: 3px' %>
          <%= link_to 'Mis matcheos', ver_los_matcheos_de_mi_perro_perros_que_buscan_pareja_path(perros.id), class: 'btn btn-turqueza btn-same-width', style: 'margin-bottom: 3px' %>

        </div>
      <% end %>
    </div>


  <% end %>

  </div>
<% end %>