<p style="color: green"><%= notice %></p>

<%= render @perros_que_buscan_pareja %>

<div>
  <%= link_to "Edit this perros que buscan pareja", edit_perros_que_buscan_pareja_path(@perros_que_buscan_pareja) %> |
  <%= link_to "Back to perros que buscan parejas", perros_que_buscan_parejas_path %>

  <%= button_to "Destroy this perros que buscan pareja", @perros_que_buscan_pareja, method: :delete %>
</div>
